/*Class . and Id #*/
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%
}

body{
	background: #efefef;
}

header{
	background: #efefef;
	font-family: Arial, Helvetica;
	margin: 0 2em;
	/*text-decoration: underline;*/
}


/*-----------NAVIGATION----------*/
nav ul{
	background: #efefef;
	/*font-size: 1.5em;*/
	text-align: center;
	margin: 0;
	padding: 0.1em;
	/*text-transform: uppercase;*/
}

nav li{
	/*font-size: 1.5em;*/
	display: inline-block;
	padding: .2em;
	margin: 0.2em 0.5em 0 1em;
}

nav li:first-child{
	margin-left: 0;
}

nav a{
	text-align: center;
	color: #E74C3C;	/*color of the navigation tabs*/
	font-weight: bold;
	font-family: Arial, Helvetica;
	font-size:1.6em;
	display:inline-block;
	text-decoration: none;
}

nav a:hover{
	/*color: #5D6D7E;*/
	color: #E74C3C;
	text-decoration: underline;
}

footer{
	background: #ffffff;
	text-align: center;
	clear: both;
}


h2,h3,h4,h5,h6{
	font-family: Arial, Helvetica;
	font-weight: normal;
	/*color: #E74C3C;*/
}

.heading{
	padding: 1.5em;
	/*background: red;*/
	margin: 0;
}

h1{
	font: 1.8em Arial, Helvetica;
	margin: 0;

	font-weight: bold;
	/*padding: 0;*/

}

h2{
	font-size: 1.5em;
}

h3{
	font-size: 1.3em;
}

h4{
	font-size: 1.1em;
}

section{
	margin: .2em 0 0 0;
}

p{
	font:1em Arial, Helvetica;
}

article{
	background: #ffffff;
	padding: .1em 1.5em .5em 1.5em;
	margin:0 0em .5em 0em;
}

article ol{
	font: 1.3em Arial, Helvetica;
}

article ol li{
	padding-bottom: 0.5em;
}

article ol p{
	margin: 0;
	font: 0.85em Arial, Helvetica;
	/*line-height: 0.3em;*/
}