body{
	margin: 3%;
}

h1, h2, h3, h4{
	font-family: Arial;
}
 
p{
	font-family: Arial;
	font-size: 110%;
}

ol, ul, table{
	font-family: Arial;
	font-size: 110%;
}

/*ol img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
*/
li b{
	color: #343434;
}

code{
	color: #f8371f;
	display: inline-block;
	padding: 0 .4em;
	font-size: 1.25;
	font-family: Courier, Menlo;
}


summary{
	font-family: Arial;
	font-size: 110%;
	color: #f8371f;
}


my-element {
    display: block;
    /* more styles here */
}


.div-home h1{	
	font-family: Arial;
	font-size: 180%;	
	color: #FF5631;
	text-align: center;
}


.div-home{
	display: flex;
  width: 100%; /* Set full-width to expand the whole page */
  /*border-style:solid;*/
  /*border-width:1px;*/
}

.div-home-left{
	display: inline-block;
	width: 75%;
	float: left;
	color: black;
	/*background: whitesmoke;*/
	padding: 0px;
	/*border-radius: 4px;*/
	/*margin-right: 20px;*/
}

.div-home-right{
	display: inline-block;
	width: 25%;
	float: right;
	color: black;
	/*background: floralwhite;*/
	object-fit: cover;
	/*padding: 2%;*/
	/*margin-left: 5%;*/
}

.div-home-right img{
border-radius: 10%;
}



.div-publication{
	display: flex;
  width: 100%; /* Set full-width to expand the whole page */
  /*border-style:solid;*/
  /*border-width:1px;*/
}

.div-publication-left{
	display: inline-block;
	width: 70%;
	float: left;
	color: black;
	/*background: whitesmoke;*/
	padding: 0px;
	/*border-radius: 4px;*/
	/*margin-right: 20px;*/
}

.div-publication-right{
	display: inline-block;
	width: 30%;
	float: right;
	color: black;
	/*background: floralwhite;*/
	object-fit: cover;
	/*padding: 2%;*/
	/*margin-left: 0%;*/
}

.div-publication-right img{
	/*display: block;*/
  width: 70%;
  object-fit: contain;
  height: auto;
}


ol .div-publication .div-publication-left ul li{
	font-size: 100%;
}

.div-publication-left li{   /* paper title */
	font-size: 125%;
}

.ulno-space {
  margin-top: 0;
  padding-left: 1em;
}



/* Add a black background color to the top navigation */
.topnav {
    /*background-color: #333;*/
    overflow: hidden;
    font-family: Arial;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 125%;
  color: #7C7C7C ;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #FF5631;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #FF5631;
  font-size: 175%;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}


.banner-image img{
	display: block;
	max-width: 80%;
	height: auto;
	margin-left: auto;
  margin-right: auto;
}

.banner-image h1{	
	font-family: Arial;
	font-size: 160%;	
	color: #FF5631;
	text-align: center;
}

.copyright {
	font-size: 100%;
	text-align: center;
	color: #7C7C7C;
}
