
/*====== OLD =======*/
/* ========== BEGIN OF TOP NAVIGATION */
/* Add a black background color to the top navigation */
.topnav {
    /*background-color: #333;*/
    overflow: hidden;
    font-family: Arial;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 125%;
  color: #7C7C7C ;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #44546A;
}

/* Add a color to the active/current link */
.topnav a.active {
/*  color: #FF5631;*/
/*	color: #44546A;*/
	color: #000000;
  font-size: 175%;
  font-weight: bolder;
  background-color: #ffffff;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
/* ========== END OF TOP NAVIGATION */
